<h1>Welcome to Anime-Rec! The place for all you anime recommendation needs!</h1>
<% if !signed_in? %>
<h3 id="interests">Your current interests are: <%= @interests %></h3>
<div>
   <%= render 'form' %>
</div>
<div id="anime_list">
 <ol>
  <%= render partial: 'shared/anime', collection: @animes %>
 </ol>
</div>
<% end %>
