<% if signed_in? && current_user.admin? %>
   <li>
       <%= link_to anime.name, anime %>
       <%= button_to "Delete", anime, method: :delete, confirm: "Are you sure?", form_class: "btn btn-danger" %>
   </li> 
<% elsif anime.approved? %>
   <li>
       <%= link_to anime.name, anime %>
   </li> 
<% end %>
